// color theme: 
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=29B6F6&secondary.color=212121

// this is for this bib blocks
Primary = #29b6f6
PrimaryLight = #73e8ff
PrimaryDark = #0086c3

// secondary colors is for buttons and all the little extra things
Secondary = #212121
SecondaryLight = #484848
SecondaryDark = #000000

// background colors
Background = #F5F5F6
BackgroundDark = #E0E1E0

// ML shaddow:
Shadow1 = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
Shadow2 = 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
Shadow3 = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
Shadow4 = 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
Shadow5 = 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

*
  margin 0px
  padding 0px

body
  font-family 'Roboto', sans-serif
  background-color BackgroundDark
  
.header
  background-color Primary
  padding-bottom 50px
  box-shadow Shadow1
  h1
    font-size 40px
    font-weight 300
    box-sizing border-box
    padding 15px 25px

.mainList 
  padding 10px
  background-color Background
  border-radius 4px
  box-shadow Shadow2
  position relative
  top -60px
  width 100%
  max-width 600px
  box-sizing border-box
  .title
    border-bottom 2px solid #ccc
    margin-bottom 5px
    padding-bottom 5px
  .list
    h3
      font-size 20px
      padding-top 5px
      padding-bottom 5px
    .listitem
      cursor pointer
      transition 0.2s background-color
      background-color #F5F5F6
      position relative
      display inline-block
      width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      user-select none
      -webkit-touch-callout none
      -webkit-user-select: none
      &:hover
        background-color #eee
      .itemTitle
        font-size 23px
      .subdata
        display flex
        padding-bottom 10px
        div
          padding-right 5px
          font-size 15px
          span
            font-size 18px
            font-weight bold

.mainApp
  .listWrapper
    display flex 
    justify-content center 
    align-self center
    padding 10px