// color theme: 
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=29B6F6&secondary.color=212121

// this is for this bib blocks
Primary = #29b6f6
PrimaryLight = #73e8ff
PrimaryDark = #0086c3

// secondary colors is for buttons and all the little extra things
Secondary = #212121
SecondaryLight = #484848
SecondaryDark = #000000

// background colors
Background = #F5F5F6
BackgroundDark = #E0E1E0

// ML shaddow:
Shadow1 = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
Shadow2 = 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
Shadow3 = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
Shadow4 = 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
Shadow5 = 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

*
  margin 0px
  padding 0px

body
  font-family 'Roboto', sans-serif
  background-color BackgroundDark
  overflow-x hidden
  
button
  padding 5px 15px
  border 0px solid black
  cursor pointer
  margin 5px
  font-size 18px
  background-color Primary
  border-radius 3px
  font-weight bold
  box-shadow Shadow2
  transition 0.2s box-shadow
  border 2px solid Primary
  &:hover
    box-shadow Shadow1
  &:focus
    box-shadow Shadow1
    border 2px solid black
  &:disabled
    background-color PrimaryDark
    color black
    border 2px solid PrimaryDark
    cursor default
    &:hover
      box-shadow Shadow2

.header
  background-color Primary
  padding-bottom 50px
  box-shadow Shadow1
  display flex
  align-items center
  box-sizing border-box
  padding 10px 10px 60px 10px
  h1
    font-size 40px
    font-weight 300
    box-sizing border-box
    padding-left 10px
  svg
    cursor pointer

.mainList 
  padding 10px
  background-color Background
  border-radius 4px
  box-shadow Shadow2
  position relative
  top -60px
  width 100%
  max-width 600px
  box-sizing border-box
  .title
    border-bottom 2px solid #ccc
    margin-bottom 5px
    padding-bottom 5px
  .list
    h3
      font-size 20px
      padding-top 5px
      padding-bottom 5px
    .listitem
      cursor pointer
      transition 0.2s background-color
      background-color #F5F5F6
      position relative
      display inline-block
      width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      user-select none
      -webkit-touch-callout none
      -webkit-user-select: none
      &:hover
        background-color #eee
      .itemTitle
        font-size 23px
      .subdata
        display flex
        padding-bottom 10px
        div
          padding-right 5px
          font-size 15px
          span
            font-size 18px
            font-weight bold

.mainApp
  .listWrapper
    display flex 
    justify-content center 
    align-self center
    padding 10px

.bigMenu
  z-index 100
  height 100vh
  width 100vw
  position fixed
  top 0px
  left 0px
  transition 0.3s background-color
  .actualBigMenu
    transition 0.3s transform
    will-change transform
    width 90%
    height 100vh
    overflow-y scroll
    overflow-x none
    max-width 350px
    background-color Background
    .proviel
      background-color Secondary
      padding 10px 10px 30px 10px
      *
        color white
      h2
        font-size 40px
      p
        color rgba(100%, 100%, 100%, 0.7)
        font-weight normal
        span
          font-weight bolder
      button
        position relative
        top 10px
        left -5px
    .listLinks
      .link
        padding 20px 10px
        overflow hidden
        font-size 22px
        display flex
        align-item center
        cursor pointer
        background-color Background
        transition 0.2s background-color
        &:hover
          background-color BackgroundDark
        svg
          position relative
          top 1px
          left -2px
.mainMessage
  position relative
  top -38px
  display flex
  justify-content center
  align-items center
  flex-direction column
  .comment
    width 100%
    max-width 600px
    background-color Background
    border-radius 4px
    box-shadow Shadow2
    padding 10px
    box-sizing border-box
    margin-top 20px
    textarea
      width 100%
      resize none
      font-family sans-serif
      padding 10px 
      box-sizing border-box
      font-size 17px
      background-color rgba(0%, 0%, 0%, 0)
      border 0px solid black
      border-bottom 2px solid Primary
      background-color Background
      transition .2s background-color
      &:focus
        outline none
        border-bottom 2px solid PrimaryDark
        background-color BackgroundDark
  .newMessage
    .ml-input-holder
      padding-top 5px
      padding-bottom 10px
      box-sizing border-box
      width 100%
    p
      padding 10px 0px
  .comment-need-login
    width 100%
    max-width 600px
    background-color Background
    border-radius 4px
    box-shadow Shadow2
    padding 20px 10px
    box-sizing border-box
    margin-top 50px
    p
      text-align center
    .btns
      display flex 
      justify-content center
      align-items center
  .messageItem
    max-width 600px
    width 100%
    display flex
    align-direction row
    padding-bottom 20px
    .side
      width 70px
      display flex
      align-items center
      justify-content center
      height 70px
      box-sizing border-box
      padding-right 10px
      .proviel
        width 50px
        height 50px
        display flex
        align-items center
        justify-content center
        background-color Secondary
        color white
        border-radius 25px
        font-size 30px
        line-height 0
        font-weight bold
        box-shadow Shadow2
    .acctualMessage
      width 100%
      background-color Background
      border-radius 4px
      box-shadow Shadow2
      padding 10px
      .sideData
        span
          font-weight bold
      .msgTitle
        font-size 30px
        font-weight bold
        border-bottom 3px solid #eee
        padding-bottom 5px
        margin-bottom 5px
      .msg
        img
          max-width 100%
          max-height 70vh
        ul
          margin-left 10px
        li
          list-style-type disc
          list-style-position inside
      .btns
        border-top 3px solid #eee
        padding-top 5px
        margin-top 10px
        button
          background-color rgba(0%, 0%, 0%, 0)
          border 0px
          cursor pointer
          display inline-block
          padding 5px 10px
          border-radius 4px
          transition 0.2s background-color
          margin-right 4px
          box-shadow 0px 0px 0px 0px rgba(0%, 0%, 0%, 0)
          &:hover
            background-color BackgroundDark
          &:focus
            background-color BackgroundDark

.LoginRegister
  position fixed
  top 0px
  left 0px
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  background-color rgba(0%, 0%, 0%, 0.15)
  z-index 21
  .LRholder
    width 100%
    max-width 500px
    background-color Background
    border-radius 3px
    box-shadow Shadow4
    .LRtitle
      h1
        border-bottom 1px solid #ccc
        box-sizing border-box
        padding 10px 20px
        margin-bottom 5px
      .changeTab
        display flex 
        justify-content center
        align-items center
      .fillin
        display flex 
        justify-content center 
        align-items center
        flex-wrap wrap
        .ml-input-holder
          padding 0px 5px 5px 5px
          max-width 230px

.ml-input-holder
  padding-top 10px
  display flex 
  flex-direction column
  width 100%
  max-width 270px
  * 
    cursor text
  label
    font-size 14px
    transform-origin top left
    transform scale(1.5,1.5) translateY(12px) translateX(5px)
    transition 0.3s transform, 0.3s color
    color rgba(0%, 0%, 0%, 0.5)
    will-change transform
  label.focus
    transform scale(1,1) translateY(2px) translateX(5px)
    color #000
  input
    background-color rgba(100%, 100%, 100%, 0)
    border 0px
    padding 5px
    font-size 18px
    border-bottom 2px solid PrimaryDark
.popupHolder
  height 100vh
  width 100vw
  position fixed
  top 0px
  left 0px
  display flex 
  justify-content center
  align-items center
  background-color rgba(0%, 0%, 0%, 0.15)
  z-index 24
  .popup
    width 100%
    max-width 500px
    background-color Background
    border-radius 3px
    box-shadow Shadow4
    h3
      padding 10px 20px
      border-bottom 2px solid #ddd
    p
      padding 10px
    .actions
      display flex 
      justify-content center
      align-items center
      padding 10px 20px
      border-top 2px solid #ddd
      .secondary
        background-color PrimaryDark
        border 2px solid PrimaryDark
        &:focus
          border 2px solid black
.forumSetup
  height 100vh
  width 100vw
  position fixed
  top 0px
  left 0px
  display: flex
  justify-content center
  align-items center
  background-color Background
  .overlay
    div
      height 100vh
      width 100vw
      position fixed
      display block
      top 0px
      left 0px
      background-color rgba(245,245,246,0.4)
  .container
    width 100vw
    max-width 300px
    .progress
      margin: 10px 20px
      height 4px
      background-color: BackgroundDark
      div
        background-color: Primary
        height 4px
        transition 0.3s width
    .part
      display flex
      justify-content center
      align-items center
      flex-direction column
      .errorText
        color #F44336
        padding: 10px 0px
        font-weight: 600
      button
        margin-top 10px
      .accoundInf
        width 100%
        margin-top 10px
.settingsFull
  display flex 
  justify-content center 
  align-self center
  padding 10px
  .settings
    padding 10px
    background-color Background
    border-radius 4px
    box-shadow Shadow2
    position relative
    top -60px
    width 100%
    max-width 600px
    box-sizing border-box
    h2
      margin-bottom 5px
      padding-bottom 5px
    .section
      border-top 2px solid #ccc
      padding 10px 0px
      .row
        display flex
        justify-content space-between
        flex-wrap wrap
        .error
          min-width 100%
        .name
          display flex
          justify-content center
          align-items center
          font-size 19px
        .ml-input-holder
          position relative
          top -10px