
// this is for this bib blocks
Primary = #29b6f6
PrimaryLight = #73e8ff
PrimaryDark = #0086c3

// secondary colors is for buttons and all the little extra things
Secondary = #212121
SecondaryLight = #484848
SecondaryDark = #000000

// background colors
Background = #F5F5F6
BackgroundDark = #E0E1E0
BackgroundLight = #F5F5F6

*
  margin 0px
  padding 0px

body
  font-family 'Roboto', sans-serif
  background-color Background
  
.header
  background-color Primary
  padding-bottom 100px
  h1
    font-size 40px
    font-weight 300
    box-sizing border-box
    padding 10px

.ItemsList 
  padding 10px